 .u-section-1 {
  min-height: 554px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -38px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 592px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 30px 0 66px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 44px -6px 0 66px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  vertical-align: -2px;
  margin-right: 2px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 6px -6px 0 66px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
  margin-right: 2px;
  vertical-align: -2px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 592px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1399px) {
   .u-section-1 {
    min-height: 553px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2)  + 1140px);
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 591px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 591px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 335px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 487px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 585px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2)  + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 623px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 801px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 590px;
    margin-top: -118px;
    margin-right: auto;
    margin-bottom: 18px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-right: 25px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 410px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 554px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -32px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 0;
  }
}