 .u-section-1 {
  min-height: 554px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -38px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 592px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 30px 0 66px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 44px -6px 0 66px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  vertical-align: -2px;
  margin-right: 2px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 6px -6px 0 66px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
  margin-right: 2px;
  vertical-align: -2px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 592px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1399px) {
   .u-section-1 {
    min-height: 414px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 511px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 511px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 335px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 248px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 322px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 858px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 483px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 304px;
  }
}